html, body, .map {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.extra-controls {
    top: 65px;
    left: .5em;
}

.ol-touch .extra-controls {
    top: 80px;
}

.ol-rotate {
    visibility: visible !important;
    opacity: 1 !important;
}